/* div{
  border:1px solid black;
} */
body {
  font-family:
  "helvetica neue";
  font-size: 20px;
  font-weight: normal;

}

.tall{
  height: 100vh;
}
.projecttitle {
  background:#9CADCE;
}

section {
  max-width: 450px;
  margin: 50px auto;

div{
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  &:after {
       content: "";
       display: table;
       clear: both;
     }
    }
}

.clear {
  clear: both;
}
.from-me {
  position: relative;
  padding: 5px 15px;
  margin: 5px 15px;
  color: white;
  background:#56CCF2;
  border-radius: 50px;
  float: left;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0b93f6;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
  }
}
.from-them {
  position: relative;
  padding: 5px 15px;
  margin: 5px 15px;
  background:#c1839f;
  border-radius: 100px;
  color: black;
  float: right;

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #e5e5ea;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
  }

  &:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
  }
}

.twitter3 {
  max-width: 40px;
  /* height: 40px; */
}
.Star {
  max-width: 30px;
}
.facebook {
  max-width: 35px;
}
.custom-border {
  background: #f7d488;
  border-style: solid;
  border-color: #f7d488;
  border-width: 5px;
}

.custom-border1 {
    background:#c7ccdb;
    border-style: solid;
    border-color: #c7ccdb;
    border-width: 5px;
  }
  .custom-border2 {
    background:#b7999c;
    border-style: solid;
    border-color: #b7999c;
    border-width: 5px;
  }
  .stickytop{
    background:#FFFFFF
  }
